.box {
  margin: 40px 10px;
  width: 200px;
  height: 200px;
  &--blue{
    background: skyblue;
  }
  &--yellow{
    background: yellow;
  }
  &--green{
    background: lightgreen;
  }
  &--red{
    background: red;
  }
  &--cyan{
    background: darkcyan;
  }
  &--gray{
    background: lightgray;
  }
  &--pink{
    background: lightpink;
  }
  &--purple{
    background: purple;
  }
}
