.flexbox div{
  background: skyblue;
  // margin-left: 80px;
  width: 200px;
  height: 130px;
}

.flexbox p{
  background: yellow;
  // margin: 0 10px;
  width: 150px;
  height: 80px;
}

.flexbox{
  border:solid lightgray 4px;
  width: 90%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}


ul {
  display: flex;
  @include mq-down(md){
    flex-direction: column;
  }
}