//grid
.grid-wrapper{
  display: grid;
  color: #333;
  font-size: 34px;
  text-align: center;
  line-height: 100px;

  row-gap: 20px;
  column-gap: 20px;
  gap: 20px;    //gap row column

  // grid-template-columns: auto auto auto auto;
  grid-template-columns: 100px 100px 100px 100px;
  // grid-template-columns: 210px auto 210px;

  // grid-template-rows: 210px 240px auto auto;
  grid-template-rows: 100px 100px 100px 100px;

  grid-template-areas: 
    "a a a ."
    "b b . ."
    "c d e e"
    "f f g g";

  grid-template:
    "a a a ." 100px
    "b b . ." 100px
    "c d e e" 100px
    "f f g g" 100px /
    100px 100px 100px 100px;

  // justify-content: center;
  align-content: end;
}

// .grid-wrapper2{
//   display: grid;
//   // grid-template-columns: repeat(10, 1fr 2fr 3fr);
//   // grid-template: repeat(auto-fill, 200px);
//   grid-template-columns: repeat(4, minmax(100px, 200px));
//   text-align: center;
//   gap: 30px;
// }

.grid-wrapper2{
  text-align: center;
  font-size: 30px;
  border: double 4px gray;

  /*grid system*/
  height: 400px;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  // grid-template-columns: repeat(4, 25%);
  // grid-template-columns: 20px repeat(3, auto);
  grid-template-rows: repeat(2, 100px);
  // row-gap: 20px;
  // column-gap: 20px;
  gap: 20px;
  // align-items: stretch;
  // align-content: flex-end;
  // grid-template: 
  // "a a a a" 100px
  // "b b c d" 100px
  // "b b c d" 100px
  // "e f c d" 100px/
  // 100px 100px 100px 100px;
}