.fi-li{
  li &{
  border: black solid 3px;
  }
}

.triangle{
  border-top: 50px solid #F0897F;
  border-right: 50px solid #f6da69;
  border-bottom: 50px solid #b2ce54;
  border-left: 50px solid #6aa7cd;
}
