.u-prefix-hello{
  font-weight: bold;
  font-size: 24px;
  color:blue;
}

.u-prefix-hello::before{
  content: 'こんにちは';
  color: red;
}


// .u-prefix-hello::before{
//   content: url('../../../../public/img/small-cat.jpg');
//   color: red;
//   font-weight: bold;
// }


// .u-prefix-hello::before {
//   content: '';
//   display: inline-block;
//   width: 100px;
//   height: 100px;
//   background-image: url(../../../../public/img/small-cat.jpg);
//   background-size: cover;
//   vertical-align: middle;
// }

.u-prefix-text{
  position: relative;
}

.u-prefix-text::before {
  content: '';
  position: absolute;
  display: inline-block;
  background: gold;
  width: 3px;
  height: 20px;
  top: 2px;
  left: -5px;
}

.u-suffix-hello {
  font-weight: bold;
  &::after {
    content: "こんにちは";
    color: red;
  }
}


.u-first-emphasis::first-letter {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.u-emphasis {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.u-line-emphasis::first-line {
  color: blue;
  font-size: 18px;
  font-weight: bold;
}

.u-marker::marker {
  color:yellow;
}

/* 擬似クラス */
.u-hover-yellow:hover {
  color: rgb(219, 219, 9);
  font-size: 32px;
  font-weight: bold;
}


.u-active-red:active {
  color: red;
  font-size: 32px;
  font-weight: bold;
}

.u-link-green:link {
  color: green;
}

.u-visited-gold:visited {
  color: gold;
}

.u-focus-red:focus{
  background-color:lightyellow;
  color: red;
  font-weight: bold;
}

// ul li:nth-of-type(odd){
//   color: red;
//   font-size: 18;
// }


#modal {
  display: none;
}

#modal:target{
  width: 100%;
  height: 100%;
  position: absolute; //ないと画面が動く 
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal .message-box {
  position: relative;  //ないと裏側になる
  background-color:  gold;
  padding: 20px;
  // height: 80px;
  cursor: default;
}

#modal .close {
  position: relative;
  display: block;
}

#modal .close::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: default;
}

#modal .close::after {
  content: "x";
  color: white;
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


// position
.bg-red{
  background:red;
  color: white;
  width: 100%;
}

.bg-blue{
  background: blue;
  color: white;  
  // height: 100%;
}

.bg-green{
  background: green;
  color: white;
  // position: fixed;
}

.cursor-lists li{
  color: black;
  font-size: 18px;
  height: 30px;
  border: solid lightgray 1px;
  width: 50%;
}


//media-query
.media {
  height: 20%;
  background:red;
  min-width: 60px;
  max-width: 50%;
  font-size: 12px;
  color: white;
  padding: 5px;
  @media screen and (min-width:200px) and (max-width: 400px) { 
      /*　画面サイズ200~400px　*/
    & { 
        background:gold;
        font-size: 14px;
        color: gray;
        max-width: 60%;
        & ::before {
          content: "【200px~400px】";
          color: black;
        }
      }
  }
  @media screen and (min-width:600px) and ( max-width:800px) {
      /*　画面サイズ600~800px　*/
      & { 
        background:yellowgreen;
        height: 30%;
        font-size: 20px;
        color: white;
        max-width: 80%;
        & ::before {
          content: "【600px~800px】";
          color: black;
        }
      }
    }
  @media screen and (min-width:1000px) {
      /*　画面サイズ1000px以上　*/
      & { 
        background:cornsilk;
        height: 40%;
        font-size: 32px;
        color: darkgray;
        max-width: 90%;
        & ::before {
          content: "【1000px~】";
          color: black;
        }
      }
    }
}


::selection {
  background: cornsilk;
}

p::selection {
  background: coral;
  color: white;
}

.fifth::selection {
  background: yellow;
  color: black;
}







